.nextPrevSelect > .ant-select-selector {
    border-radius: 0px !important;
}

.nextPrevSelect-left-button {
    border-radius: 0px !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border-right:0px !important;

}

.nextPrevSelect-right-button {
    border-radius: 0px !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-left:0px !important;
}